nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 5%;
  background-color: #fff;
  position: relative;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.125);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.125);
}

.togglebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.btnmenu {
  height: 1.6rem;
  width: 1.6rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-right: 1rem;
}

.btnmenu span {
  height: 2px;
  width: 100%;
  background-color: #000000;
  position: absolute;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.btnmenu span:nth-child(1) {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.btnmenu span:nth-child(3) {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.btnmenu.active span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.btnmenu.active span:nth-child(2) {
  width: 0;
}

.btnmenu.active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.backlight-menu {
  display: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  height: inherit;
  z-index: 99;
  margin-right: 1rem;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.menu li {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu a {
  text-transform: capitalize;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu a:hover:after {
  content: '';
  width: 80%;
  height: 3px;
  background-color: #ff7d1a;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.cart-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  position: relative;
  margin-right: 1rem;
  cursor: pointer;
}

.cart-counter {
  position: absolute;
  right: 0;
  bottom: 50%;
  background-color: #ff7d1a;
  border-radius: 8px;
  font-size: 12px;
  padding: .12rem;
}

.avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .4rem;
}

.avatar img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.avatar img:hover {
  cursor: pointer;
  outline: 3px solid #ff7d1a;
}

.cart {
  position: absolute;
  top: 125%;
  right: 5%;
  max-height: 0;
  padding: 0 1rem;
  overflow: hidden;
  border-radius: 8px;
  -webkit-transition: 200ms;
  transition: 200ms;
  background-color: #fff;
  z-index: 98;
}

.cart.active {
  max-height: 22rem;
  padding: 1rem;
  -webkit-box-shadow: 0 1px 10px 0.01px rgba(0, 0, 0, 0.125);
          box-shadow: 0 1px 10px 0.01px rgba(0, 0, 0, 0.125);
}

.cart-countainer {
  max-height: 0;
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-countainer::-webkit-scrollbar {
  display: none;
}

.cart-countainer.active {
  max-height: 20rem;
}

.cart-header {
  padding: .6rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.157);
}

.cart-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-list.active {
  display: none;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.list img {
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 .5rem;
}

.description h5 {
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .3rem;
}

.delete-icon img {
  width: auto;
  height: auto;
  border-radius: 0;
}

.delete-icon img:hover {
  -webkit-filter: brightness(0);
          filter: brightness(0);
  cursor: pointer;
}

.checkout-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .6rem 0;
  border: none;
  background-color: #ff7d1a;
  color: white;
  border-radius: 8px;
  margin-top: 1rem;
}

.checkout-button.active {
  display: none;
}

.empty-cart {
  padding: 3rem;
  display: none;
}

.empty-cart.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 520px) {
  .btnmenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu {
    position: absolute;
    left: 0;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem 0;
    width: 0;
    overflow: hidden;
  }
  .menu li {
    height: auto;
  }
  .menu a {
    width: 100%;
    padding: .6rem 1rem;
  }
  .menu a:hover {
    font-weight: bold;
  }
  .menu a:hover:after {
    width: 0;
  }
  .menu.active {
    width: 72%;
    padding: 3rem 0 0 1.8rem;
  }
  .backlight-menu {
    display: block;
    width: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.692);
    position: absolute;
    left: 0;
    z-index: 98;
  }
  .backlight-menu.active {
    width: 100vw;
  }
  .avatar img {
    width: 2rem;
    height: 2rem;
  }
}
/*# sourceMappingURL=navbar.css.map */