@import url(navbar.css);
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // outline: 1px solid red;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  user-select: none;
}

/* *****************
----HERO------------
******************** */
.hero {
  display: flex;
  padding: 3% 12%;
}

/* ****** left ****** */

.left{
  width: 50%;
  padding: 0 5%;
}
.main-image-countainer {
  display: flex;
  margin-bottom: 1rem;
}
.main-image {
  width: 100%;
  border-radius: 14px;
  cursor: pointer;
}
.thumbnails {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
.thumbnail {
  display: flex;
  border-radius: 9px;
  overflow: hidden;
  cursor: pointer;
}
.thumbnail img {
  width: 100%;
}

.thumbnail.active {
  outline: 3px solid hsl(26, 100%, 55%);
  img {
    filter: opacity(.5);
  }
}

/* ***** right ***** */

.right {
  padding: 0 5%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.right h2 {
  text-transform: uppercase;
  font-size: .9rem;
  color: hsl(26, 100%, 55%);
}
.right h1 {
  text-transform: capitalize;
  font-size: 2rem;
}
.right p {
  letter-spacing: .02rem;
  color: hsl(219, 9%, 45%);
}
.right .discount {
  color: hsl(26, 100%, 55%);
  background-color: hsl(25, 100%, 94%);
  padding: 0 .2rem;
  font-size: 1rem;
}
.right h4 {
  text-decoration: line-through;
  color: hsl(220, 14%, 75%);
}
.button-container {
  display: grid;
  grid-template-columns: 3fr 5fr;
  gap: 1rem;
}
.add-n-substract {
  display: flex;
  background-color: hsl(223, 64%, 98%);
  padding: .5rem;
  justify-content: space-around;
  border-radius: 8px;
}
.add, .substract {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.add:active, .substract:active{
  filter: brightness(.5);
}
.substract:disabled {
  filter: brightness(1.5);
  cursor: not-allowed;
}

.user-count {
  display: flex;
  justify-content: center;
}

.add-to-cart {
  border: none;
  background-color: hsl(26, 100%, 55%);
  color: white;
  border-radius: 8px;
}
.add-to-cart:hover {
  cursor: pointer;
  background-color: hsl(26, 100%, 60%);
}
.add-to-cart:active {
  background-color: hsl(26, 100%, 50%);
}
.add-to-cart:disabled {
  cursor: not-allowed;
  background-color: hsl(26, 100%, 70%);
}


/* ********************
******* Overlay *******
******************** */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,.8910);
  z-index: 100;
  display: flex;
  justify-content: center;
  transform: scale(0);
  transition: 100ms;
}
.overlay.active {
  transform: scale(1);
}

.overlay .container {
  width: 65vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.overlay .close-button {
  display: flex;
  justify-content: end;
}
.overlay .close-button svg:hover path {
  fill: hsl(26, 100%, 55%);
  cursor: pointer;
}


.overlay-main-image-container {
  display: flex;
  position: relative;
}
.overlay-main-image {
  width: 100%;
  border-radius: 14px;
}
.next, .prev{
  position: absolute;
  top: 50%;
  left: -1rem;
  transform: translate(0, -50%);
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.next {
  left: auto;
  right: -1rem;
}
.prev svg {
  margin-right: .2rem;
}
.next svg {
  margin-left: .2rem;
}
.prev:hover svg path, .next:hover svg path {
  stroke: hsl(26, 100%, 55%);
}

.overlay-thumbnails{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  padding: 0 8%;
}
.overlay-thumbnail {
  display: flex;
  border-radius: 9px;
  overflow: hidden;
  cursor: pointer;
}
.overlay-thumbnail img {
  width: 100%;
}
.overlay-thumbnail.active {
  outline: 3px solid hsl(26, 100%, 55%);
  background-color: #fff;
  img {
    opacity: .5;
  }
}


@media (max-width:520px) {
  .hero {
    padding: 0;
  }
  .left {
    display: none;
  }
  .right {
    width: 100%;
    padding: 5%;
  }
  .button-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .overlay {
    transform: scale(1);
    position: relative;
    height: auto;
    z-index: 0;
  }
  .overlay .container {
    width: 100%;
  }
  
  .close-button, .overlay-thumbnails {
    display: none !important;
  }
  .overlay-main-image {
    border-radius: 0;
  }
  .next {
    right: 1rem;
  }
  .prev {
    left: 1rem;
  }
}